/* Yleiset tyylit */
body {
    font-family: 'Raleway', cursive;
    margin: 0;
    padding: 0;
    background-color: #EDE7DC;
}

/* Taustakuva mobiilikoolle*/

@media (max-width:768px) {
    body {
        background-image: url(Kuvat/mobiilitaustakuva.jpg);
        background-size: cover;
        }
}

/* Ylävalikko */
header {
    background-color: #CCAFA5;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.active {
    background-color: #bdc3cb;
    padding: 10px;
}

/* Pääotsikko */
main h1 {
    text-align: center;
    font-size: 55px;
    color: #493518;
    margin: 20px 0;
    font-family: 'Playfair Display', cursive;
    background-color: #DCD2CC;
    padding: 15px;
    
}

/* Pääsisältö */
.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

/* Kuvagalleria */
.gallery {
    flex: 1;
    max-width: 45%;
}

.gallery img {
    width: 60%;
    height: auto;
    margin-bottom: 10px;
}

@media (max-width:768px) {
    .gallery {
        display: none;
        }
    }

/* Tekstialue */
.text-box {
    flex: 1;
    max-width: 45%;
    background-color: #DCD2CC;
    padding: 40px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* CTA-nappula */

.cta-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
}

.cta button {
    background-color: #DCD2CC;
    padding: 20px 150px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
   

}

.cta button:hover {
    background-color: #CCAFA5;
}

/* Media queries suuremmille näytöille */

@media (min-width: 0px) {
    .cta-container {
        width: 90%;
        margin: 20px auto;
    }
}

/* Alatunniste */
footer {
    background-color: #bdc3cb;
    text-align: center;
    padding: 15px;
    font-size: 1em;
    color: #fff;
}


/* Palvelut välilehti */

/* Palvelut body */
.palvelut {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.palvelut main {
    flex: 1;
}

/* Sisältölohkot vierekkäin */
.palvelut .content {
    display: flex;
    flex-wrap: wrap; /* Varmistaa responsiivisuuden */
    padding: 20px;
    align-items: center; /* Kohdistaa elementit keskikohtaan pystysuunnassa */
}

/* Kuvaosio */
.palvelut .gallery {
    flex: 1;
    max-width: 40%; /* Pienentää kuvan leveyttä */
    margin: 20px;
}

.palvelut .gallery img {
    width: 100%;
    height: auto;
}

/* Tekstiosio */
.palvelut .text-box {
    flex: 1;
    max-width: 40%; /* Sama leveys kuin kuvilla */
    background-color: #DCD2CC;
    padding: 40px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    display: flex;
    align-items: center; /* Kohdistaa tekstin keskikohtaan pystysuunnassa */
}

/* Palvelut body */
.palvelut {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.palvelut main {
    flex: 1;
}

/* Palvelut footer */
.palvelut .footer {
    background-color: #bdc3cb;
    text-align: center;
    padding: 15px;
    font-size: 1em;
    color: #fff;
    margin-top: auto;
}

/* Mobiilikoko */
@media (max-width:768px) {
    .palvelut .gallery {
        display: none;
    }
}

/* Taustakuva Palvelut sivun mobiilikoolle */
@media (max-width:768px) {
    .palvelut .body {
        background-image: url(Kuvat/palvelutmobiili.jpg);
        background-size: cover;
    }
}